[{sasl,[{errlog_type,error}]},
 {chatbot,
     [{'Elixir.Chatbot.Auth',
          [{server,
               #{<<"groups">> =>
                     [#{<<"name">> => <<"Teste">>,
                        <<"outgoingToken">> =>
                            <<"sgwaq7f6sjrc7q8aeqsxr11hrr">>}],
                 <<"ip">> => "10.67.15.249"}}]}]}].
